/* basic styles */

* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.row {
	width: 100%;
	font-size: 90%;	
}
h1 {
	font-size: 1.5em;	
	font-weight: bold;
	text-shadow: 1px 1px 1px #bbb;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.row p {
	border: 1px solid black;
	padding: 40px 15px 15px 15px;
	margin: 0.4em;
	position: relative;	
	font-size: 1.2em;
	background-color: rgba(128, 128, 128, 0.36);
}

.row p span:nth-child(2) {
	margin-top: 20px;
}

.title-chicken, .title-beef, .title-sushi {	
	position: absolute;
	right: 0;
	font-weight: bold;
	border: 1px solid black;
	margin-top: -41px;
	margin-right: -1px;
	width: 150px;
	text-align: center;
	line-height: 1.5em;
	font-size: 1.4em;
}

.title-chicken {
	background-color: rgba(255, 140, 160, 0.59);
}
.title-beef {
	background-color: #d42d2d;
	color: #ffffff;
}
.title-sushi {
	background-color: #ffff63;
}

#main-content section {
	font-size: 1.1em;
	background-color: #c1c0c0;
	height: 1000px;
}

/* for extra small devices */

@media(max-width: 767px){
	#main-menu{
		background-color: #d0d0d0;
		color: #333;
		font-size: 1.8em;
		text-align: center;
		border-bottom: 1px solid #c3c3c3;;
	}	

	#main-menu li:last-child {
		border-bottom:0;
	}

	#main-menu li:hover {
		background-color: #dcdcdc;
	}
}