
/* ----------------------- main styles --------------------------*/
body{
	font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
	font-size: 1em;	
	box-sizing: border-box;
}

#big-pic {
	width: 100%;
	height: 300px;
	background:url(../img/swimming-pool-.jpg) no-repeat;
	background-position: center;
	background-size: cover;

}

/*------------------- styles for header---------------*/
#navbar {
	width: 100%;
	border-radius: 0;
	border-width: 0;
	position: relative;
}

#navbar .dropdown-menu {
		font-size: 1em;
	}
/* ------- brand styles ------*/
h1 {
	position: absolute;
	top: 35%;
	left: 10%;
	text-shadow: 2px 2px 2px #671715;				
}

#navbar .navbar-brand {
	color: #fff;	
	font-size: .7em;
}

.navbar-brand span:nth-child(1){
	font-size: .6em;
	width: 10px;
}
.navbar-brand span:nth-child(2){
	font-size: .8em;
	width: 14px;
}

/* ----- for contacts in header ----- */

.contacts-header {
	position: absolute;
	width: 255px;
	top: 55%;
	left: 65%;
	color: #ECECEA;
	font-size: 1.9em;
	text-shadow: 1px 1px 1px #091A73;	
}

.contacts-header a {
	color: #ECECEA;
	text-decoration: none;	
}

/* ----- for navigation bar ------ */
#navbar,
#navbar .dropdown-menu {
	background-color: #558C89;	
	
}
#navbar .container, #navbar .container .collapse {
	padding: 0px;
} 

#navbar .container .collapse a{
	color: #ECECEA;
	font-size: 1.6em;
}

#navbar .active a, 
#navbar .active a:focus, 
#navbar .active a:hover {
	background-color: #447A77;	
}

#navbar .navbar-nav>.open>a, 
#navbar .navbar-nav>.open>a:focus, 
#navbar .navbar-nav>.open>a:hover {
	background-color: #558C89;
}

.navbar-default .navbar-nav>li>a:hover,
.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover {
	background-color: #5D9794;
	color:#225754;
}
/* navigation bar dropdown */
	
	 #navbar ul.navbar-nav, #navbar ul.dropdown-menu {
		text-align: center;
	}

	#navbar ul.navbar-nav>li:not(:last-child) {
		border-bottom: 1px solid #609A97;
	}

	#navbar .navbar-nav .open .dropdown-menu>li>a {
		color: #225754;
	}

	#navbar .navbar-nav .open .dropdown-menu>li>a:hover {
		background-color: #A0C9C7;
	}

	#navbar .navbar-nav .open .dropdown-menu {
		background-color: #92BEBC;
		color: #225754;
	}

	#navbar .navbar-toggle {
		border-color: #225754;		
	}
	#navbar .navbar-toggle .icon-bar {
		background-color: #225754;
	}
	#navbar .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		background-color: #92BEBC;
	}
/* ------------ styles for footer ------------------------------*/
#footer {
	background-color: #2A2A2A;
	position: relative;

}
#footer .contacts-footer, #footer .social, #footer .working-time{
	display: inline-block;
	font-size: 1.5em;
	color: #BCBCBC;
	padding: 25px 15px;
}

.contacts-footer a {
	color: #BCBCBC;
	text-decoration: none;	
}
.social a {
	color:#BCBCBC;
	padding: 5px;
	font-size: 1.9em;
}

.working-time span:first-child, .social span:first-child, .contacts-footer>span{
	font-weight: bolder;
	font-style: italic;
}
/*   --------- Home page main content-----------------------------*/

#main-content {	
	margin-top: -21px;
	box-shadow: 1px 1px 10px #E6E6E6;
	padding: 10px 15px 30px 25px;
	font-size: 1.6em;
}
#main-content article {
	margin: 20px 0;
}

/*  Home page --- images for xs ---*/
#main-content .home-img {
	width:98%;
	height:185px;		
	margin: 5px auto;
}

#main-content .home-img.pic1 {
	background: url(../img/home-xs.jpg) no-repeat;
}
#main-content .home-img.pic2 {
	background: url(../img/home1-xs.jpg) no-repeat;
}
#main-content .home-img.pic3 {
	background: url(../img/home2-xs.jpg) no-repeat;
}
#main-content .home-img.pic4 {
	background: url(../img/home3-xs.jpg) no-repeat;
}

/*---------------------------- blank page -----------------------*/
#blankPage div {
	width: 300px;
	margin: 20% auto;
}

/* ---------------------------- training page--------------------*/

#training {
	font-size: 1.7em;
}
#training h2 {
	background-color: #D9853B;
	margin: 25px 0 35px 0;
	padding: 10px 0 10px 30px;
	border-radius: 0 15px 0 15px;
	font-size: 1.6em;
	color: white;	
}

#training article {
	padding-left: 30px;
	padding-right: 0;
}

#tr-pic1 {
	background: url(../img/children-training.jpg) no-repeat;
	background-position: center;	
	height: 280px;
	margin-top: 20px;
	box-shadow: 3px 3px 10px grey;
}

#timeline {
	height: 500px;
	width: 100%;
}
#timetable table {
	width: 280px;
	margin: 0 auto 50px;
}
#timetable table tr td:first-child{
	border-right: 1px solid grey;
	padding: 5px 5px 5px 0;
}
#timetable table tr td:nth-child(2){
	padding: 10px 0 10px 10px;
	border-bottom: 1px solid grey;
	text-align: right;
	width: 250px;
}

#timetable table tr:last-child td:nth-child(2) {
	border-bottom: 0;
}


/*-----------------------------------------------------*/
/*----------------- media queries -------------------------------*/

/* lg----- large devices ----- */
@media (min-width: 1200px){
	h1 {
		left: 25%;
	}
/*lg - for menu*/
	#navbar .navbar-nav li {
		border-right: 1px solid #609A97;
	}
	
/* lg - brand*/
	#navbar .navbar-brand {		
		font-size: 1em;
		font-weight: 700;
	}
	h1 {
		top: 48%;
	}
/* lg - footer*/
	#footer .working-time {
		text-align: center;
	}
/* lg -  Home page images -------------- */
	#main-content .home-img {
		width:24%;
		margin: 10px 5px;		
	}
/* lg -------- training.html ---------------*/
	#tr-pic1 {		
		width:23%;
		margin: -10px 0 0 0;
	}
}

/* md----- medium devices ----- */
@media screen and (min-width: 992px) and (max-width: 1199px) {
/* md - for menu*/
	#navbar .navbar-nav li {
		border-right: 1px solid #609A97;
	}

/* md - brand*/
	#navbar .navbar-brand {		
		font-size: 1em;
		font-weight: 700;
	}
	h1 {
		top: 48%;
	}
/* md - footer*/
	#footer .working-time {
		text-align: right;
	}
	#footer .social {		
		border-top: 1px solid grey;
	}

/* md --- Home page images---*/
	#main-content .home-img.pic1, #main-content .home-img.pic2, #main-content .home-img.pic3, #main-content .home-img.pic4 {
		width:32%;
		margin: 5px 5px;
		background-position: center;		
	}	
/* md -------- training.html ---------------*/
	#tr-pic1 {
		max-width:500px;
		margin: 10px auto 10px;		
		
	}

}

/* sm ----- small devices ----- */
@media screen and (min-width: 769px) and (max-width: 992px) {
/* sm - for menu*/
	#navbar .navbar-nav li {
		border-right: 1px solid #609A97;
	}

/* sm - brand*/
	h1 {
		background-color:rgba(217, 133, 59, 0.75);
		top: 40px;
		left:0;
		display: block;
		width: 100%;
		text-align: center;
		padding-bottom: 15px;
	}
	h1 a.navbar-brand {
		width: 100%;	
	}
	#navbar .navbar-brand {		
			font-size: .9em;
			font-weight: 600;
		}
/* sm - header-contacts*/
	#navbar .contacts-header {
		top: 180px;
		left: 5%;
	}
/* sm - footer*/
	#footer .contacts-footer {
		text-align: center;		
	}
	#footer .working-time {
		text-align: center;
		border-top: 1px solid grey;
	}
	#footer .social {		
		border-top: 1px solid grey;
	}

/* sm - --- Home page images---*/
	#main-content .home-img {
		width:48%;		
		margin: 5px 5px;				
	}
	#main-content .home-img.pic1 {
		background: url(../img/home-md.jpg) no-repeat;
		background-position: bottom;		
	}
	#main-content .home-img.pic2 {
		background: url(../img/home1-md.jpg) no-repeat;
		background-position: center;
	}
	#main-content .home-img.pic3 {
		background: url(../img/home2-md.jpg) no-repeat;
		background-position: center;
	}
	#main-content .home-img.pic4 {
		background: url(../img/home3-md.jpg) no-repeat;
		background-position: center;
	}	
/* sm -------- training.html ---------------*/
	#tr-pic1 {
		max-width:500px;
		margin: 10px auto 10px;		
		
	}
}

/* xs ----- extra small devices ----- */
@media screen and (max-width: 768px){
/* xs - brand*/
	h1 {
		background-color:rgba(217, 133, 59, 0.75);
		top: 40px;
		left:0;
		display: block;
		width: 100%;
		text-align: center;
		padding-bottom: 15px;
	}
	h1 a.navbar-brand {
		width: 100%;	
	}
	#navbar .navbar-brand {		
			font-size: .9em;
			font-weight: 600;
		}
/* xs - navigation bar*/
	#navbar .navbar-brand {		
		font-size: .7em;
		font-weight: 500;
	}
	.contacts-header {
		width: 100%;
		font-size: 2.2em;
	}
/* xs - header-contacts*/
	#navbar .contacts-header {
		top: 180px;
		left: 15px;
		font-size: 2em;
	}

/* xs - footer*/
	#footer .contacts-footer {
		text-align: center;
	}
	#footer .working-time {
		text-align: center;
		border-top: 1px solid grey;
	}
	#footer .social {		
		border-top: 1px solid grey;
	}
/* xs - ---  Home page images ---*/
	#main-content .home-img {
		width:48%;		
		margin: 5px 5px;				
	}
/* xs -------- training.html ---------------*/
	#tr-pic1 {
		max-width:500px;
		margin: 10px auto 10px;		
		
	}
}

/* xxs ----- super extra small devices ----- */
@media screen and (max-width: 557px){
/* xxs ---- Home page images ---*/
	#main-content .home-img.pic1, #main-content .home-img.pic2, #main-content .home-img.pic3, #main-content .home-img.pic4 {
		width:98%;	
		margin: 5px 0;
		background-position: center;				
	}
/* xxs -------- training.html ---------------*/
	#tr-pic1 {		
		width:98%;	
	}
}